@inject HttpClient _client

<EditForm Model="@wishlist" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label> Consumer: </label>
            <div>
                <InputSelect @bind-Value="wishlist.ConsumerId" class="form-control" style="width: 500px;">
                    <option value="">-- Select Consumer --</option>
                    @if (Consumers != null)
                    {
                        foreach (var consumer in Consumers)
                        {
                            <option value="@consumer.Id">@consumer.Name ( @consumer.UserName )</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => wishlist.ConsumerId)" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <label> Game(s): </label>
            <div>
                <InputText @bind-Value="wishlist.Games" class="form-control" style="width: 500px;" />
                <ValidationMessage For="@(() => wishlist.Games)" />
            </div>
        </div>
    </fieldset>
    <br />
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="wishlists" />
</EditForm>
<BottomInfo />

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Wishlist? wishlist { get; set; } 
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; } 

    private IList<Consumer>? Consumers;

    protected async override Task OnInitializedAsync()
    {
        Consumers = await _client.GetFromJsonAsync<List<Consumer>>($"{Endpoints.ConsumersEndpoint}");
    }
}
